<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="2.4.3" targetFramework="net462" />
  <package id="NotFound" version="2.4.3" targetFramework="net462" />
  <package id="NoVersionNotFound" targetFramework="net462" />
  <package id="NUnit" targetFramework="net462" />
</packages>